<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board | New Message</title>
</head>
<body>
    <form method="POST" action="/new">
        <p>
            <span>User:</span>
            <input type="text" name="messageUser">
        </p>
        <p>
            <span>Message:</span>
            <input type="text" name="messageText">
        </p>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>